span{
    font-size: medium;
    font-weight: bold;
    color :black(75, 75, 114);
    font-size: xx-large;
}

.Welcome{
    height: auto;
    border-radius: 10px;
    display: grid;
    margin-top: 50px;
    box-shadow: black;
    font-weight: bold;
}