
.Auction {
    width: 400px;
    height: auto;
    border-radius: 10px;
    display: grid;
    margin-top: 50px;
    box-shadow: black
  }
  
  .Auction:hover {
    box-shadow: black;
    cursor: pointer;
  }
  .Auction .title {
    border-bottom: 1px solid rgb(211, 211, 211);
    background-color: burlywood;
    text-overflow: ellipsis;
    display: grid;
    place-content: center;
    color: white;
    /* overflow:auto; */

  }
  
  .Auction .body {
    height: auto;
    overflow:auto; 
    /* display: grid; */
    place-content: center;
  }
  
.footer {
   height:50px; 
   overflow:auto;  
}

.footer #left{
    float: left;
    font-size: medium;
  }
  
.footer #right{
    float: right;
    font-size: medium;
  }

.cropped1 {
  width: 350px; 
  height: 200px; 
  object-fit: cover;
  border: 5px solid burlywood;
}
.cropped2 {
  width: 350px; 
  height: 300px; 
  object-fit: cover;
  object-position: 20% 10%; 
  display: grid;
  border: 5px solid burlywood;
}

.CompleteAuction{
  height: auto;
  overflow-wrap: break-word;
  width: 400px;  
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
}

.Photos{
  margin-right: 10px;
  margin-top: 10px;
  /* margin-left: 10px; */
  margin-bottom: 60px;
  float :left;
  width: auto;
  height: auto;
  overflow: auto;
  display: grid;
}

.Photos .File{
  overflow: auto;
  float: left;
}

.AuctionTitle{
  margin-left: 120px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.TryLeft{
  float: left;
  display: flex;
}

.PostBid{
  margin-top: 10px;
  float: left;
}
.PostBid #PostAuctionForm{
  float: center;
  margin-left: 150px;
  width: 200px;
}

.PostBid #PostAuctionForm1{
  float: center;
  margin-left: 190px;
  width: 200px;
}

.PostBid #PostAuctionForm2{
  float: center;
  margin-left: 210px;
  width: 200px;
}

.body{
  float:left;
}

.bidbutton {
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.Select{
  margin-top: 20px;
  display: grid;
}
.Select #button{
  width: 100px;
  background-color: black;
  color: white;
  margin-left: 150px;
}