.Auction {
    width: 400px;
    height: auto;
    border-radius: 10px;
    display: grid;
    margin-top: 50px;
    box-shadow: black
  }
  
  .Auction:hover {
    box-shadow: black;
    cursor: pointer;
  }
  .Auction .title {
    border-bottom: 1px solid rgb(211, 211, 211);
    background-color: burlywood;
    text-overflow: ellipsis;
    display: grid;
    place-content: center;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .Auction .body {
    height: auto;
    place-content: center;
    border: 5px solid burlywood;

  }
  
.footer {
   height:50px; 
   overflow:auto; 
   border: 5px solid burlywood; 
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
}

.footer #left{
    float: left;
    font-size: medium;
  }
  
.footer #right{
    float: right;
    font-size: medium;
  }

.cropped1 {
  width: 400px; 
  height: 300px; 
  object-fit: cover;
  border: 5px solid burlywood;
}
.cropped2 {
  width: 350px; 
  height: 300px; 
  margin-left: 20px;
  object-fit: cover;
  object-position: 20% 10%; 
  display: grid;
  border: 5px solid burlywood;
}

.CompleteAuction{
  height: auto;
  overflow-wrap: break-word;
  width: 400px;  
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 100px;
}

.Photos{
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 60px;
  float :left;
  width: auto;
  height: auto;
  overflow: auto;
  display: grid;
}

.Photos .File{
  overflow: auto;
  float: left;
}

.AuctionTitle{
  margin-left: 120px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.TryLeft{
  margin-top: 20px;
  float: left;
  display: flex;
}

.PostBid{
  /* margin-top: 10px; */
  display: grid;
  float: left;
}
.PostBid #PostAuctionForm{
  float: center;
  margin-left: 100px;
  width: 200px;
}

.body2{
  display: grid;
  height: auto;
  border: 5px solid burlywood;
  width: 400px;
  margin-left: 20px;
  place-content: center;
}

.body2 #bd{
  margin-left:60px;
}

.bidbutton {
  width: 350px;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.Select{
  margin-top: 20px;
  display: grid;
}
.Select #button{
  width: 100px;
  background-color: black;
  color: white;
  margin-left: 150px;
}


.SOLD{
  color: green;
  font-size:x-large;
  font-weight: bold;
}

.exp{
  color: red;
  font-size:x-large;
  font-weight: bold;
}

.AuctionTitle2{
  place-content: center;
  display: flex;
}

.grid{
  width: 100%;
  display: flex;
  place-content: center;
}

.DownloadXML {
  width: 300px;
  border: none;
  background-color: black;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-left: 40px;
}
.DownloadXML:hover{
  box-shadow: black;
  cursor: pointer;
  background-color: yellowgreen;
}

.leaflet-container{
  width: 400px;
  height: 400px;
  z-index: 1;
}

.mapleaf{
  border: 5px solid burlywood;
}