
.Auction {
    width: 400px;
    height: auto;
    border-radius: 10px;
    display: grid;
    margin-top: 50px;
    box-shadow: black
  }
  
  .Auction:hover {
    box-shadow: black;
    cursor: pointer;
  }
  .Auction .title {
    border-bottom: 1px solid rgb(211, 211, 211);
    background-color: burlywood;
    text-overflow: ellipsis;
    display: grid;
    place-content: center;
    color: white;
    /* overflow:auto; */

  }
  
  .Auction .body {
    height: auto;
    overflow:auto; 
    /* display: grid; */
    place-content: center;
  }
  
.footer {
   height:50px; 
   overflow:auto;  
}

.footer #left{
    float: left;
    font-size: medium;
  }
  
.footer #right{
    float: right;
    font-size: medium;
  }

.cropped1 {
  width: 350px; 
  height: 200px; 
  object-fit: cover;
  border: 5px solid burlywood;
}
.cropped2 {
  width: 350px; 
  height: 300px; 
  object-fit: cover;
  object-position: 20% 10%; 
  display: grid;
  border: 5px solid burlywood;
}

.CompleteAuction{
  height: auto;
  width: 400px;
  overflow:auto;

  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.Photos{
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 60px;
  float :right;
  width: auto;
  height: auto;
  overflow: auto;
  display: grid;
}

.Photos .File{
  overflow: auto;
  float: left;
}

.AuctionTitle{
  margin-left: 170px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.CompleteBody{
  /* float: center; */
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 10px;
}
